* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0a0128;
  color: #333;
  
}


@media (max-width: 992px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  section {
    padding: 5% 5%;
  }
}
/* HEADER BASE STYLES */

header {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}


nav {
  display: flex;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* HAMBURGER ICON */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
  }

  .hamburger {
    display: flex;
  }

  nav {
    display: none;
    position: absolute;     
    top: 8%;           
    left: 0;
    width: 100%;
    background: #111;
    border-radius: 0 0 8px 8px;
    text-align: center;
    z-index: 1000;
  }

  nav.active {
    display: flex;
    flex-direction: column;
  }

  nav a {
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid #333;
    font-size: 14px;
  }
}
 
/* Hero Section*/
.hero {
  color: white;
  text-align: center;
  padding: 5% 5%;
}

.hero,
#about,
#projects,
#skills,
#contact{
  padding: 5% 5%;
}

.hero button {
  margin-top: 20px;
  padding: 10px 25px;
  border: solid 1px;
  background: #fff;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.hero button:hover{
  background: #0a0128;
  color: #fff;
}

h2 {
  margin-bottom: 20px;
  color: #fff;
}


/* HERO RESPONSIVE */

@media (max-width: 768px) {
  .hero h2 {
    font-size: 25px;
  }

  .hero p {
    font-size: 14px;
    line-height: 1.6;
  }

  .hero button {
    width: 100%;
    max-width: 280px;
  }
}

/* About section*/

.aboutsct {
  width: 100%;
  margin: 5% 0;
  padding: 5% 5%;
  border-radius: 8px;
}

.about-fcolum{
text-align: center;
margin-bottom: 55px;
}

.about-fcolum h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #fff;
}

.about-fcolum p {
  font-size: 1rem;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.about-row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 25px;
}

.col-img {
  flex: 1 1 300px;
  background: url("images/Mypics.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 8px;
  min-height: 500px;
}

.about-col {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.about-col h2 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.about-col h3 {
  color: #fff;
  margin-bottom: 15px;
}

.about-col p {
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.about-col{
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background 0.3s;
}

/* About section Responsivenes */

@media (max-width: 900px) {
  .about-row {
    flex-direction: column;
  }

  .col-img {
    min-height: 300px;
  }

  .about-col {
    text-align: center;
    padding: 15px;
  }
}

.project-innerc{
display:flex;
gap: 20px;
}

/* Projects */
.project-card {
  background: #fff;
  padding: 20px 25px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Projects Responsiveness */

@media (max-width: 900px) {
  .project-innerc {
    flex-direction: column;
  }

  .project-card {
    width: 100%;
  }
}

/* Skills */
.skills-innerc{
display: flex;
}

ul {
  list-style: none;
}

li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* SKILLS Responsiveness */
@media (max-width: 600px) {
  .skills-innerc {
    justify-content: center;
  }

  ul {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  li {
    text-align: center;
  }
}

/* Contact */
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.contact-left h1 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #fff;
}

.contact-left p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Inputs */
#contact input,
#contact textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Button */
#contact button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#contact button:hover {
  background-color: #0056b3;
}

/* CONTACT Responsiveness*/

@media (max-width: 768px) {
  #contact {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #contact button {
    width: 100%;
  }
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}

/* Footer Responsiveness*/

@media (max-width: 600px) {
  footer {
    font-size: 13px;
    padding: 20px 10px;
  }
}













